.env

# Xcode / build
.build/
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcresult
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# SwiftPM (if used later)
.swiftpm/
Package.resolved

# IDE
.idea/
*.swp
*~
